* {
   margin: 0;
   font-family: "League Spartan", sans-serif;
}

.main {
   padding-top: 10%;
   background-color: #F6F4ED;
}

/*Navigation Bar*/

.nav {
   box-shadow: 3px 3px 0 #000;
   background-color: #FFC63B;
   height: 3%;
   padding: 2rem;
   display: flex;
   gap: 2rem;
   width: 80%;
   align-items: center;
   border-style: solid;
   border-radius: 30px;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.nav a {
   flex: 1;
   font-weight: bolder;
   margin: 0;
   color: black;
   text-decoration: none;
   font-size: 1.5rem;
}

.nav a:hover, .nav a:focus {
   text-decoration: underline;
   color: blue;

}

.nav img {
   margin-right: auto;
   width: 2.5rem;
   height: auto;
}

/*Introduction Card*/
.intro-card {
   border-width: 8px;
   box-shadow: 14px 14px 0 #000;
   border-style:solid;
   background-color: #FFC63B;
   border-radius:20px;
   width: 80%;
   height: 700px;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 80px auto;
}

.intro-card h2 {
   margin-top: 1rem;
   margin-bottom: 0.2em;
   color: black;
   font-size: 3rem;
   font-weight: 1000;
   letter-spacing: 0.01em;
}

.namecard {
   border-width: 5px;
   width: 85%;
   height: auto;
   margin: 2em auto;
   border-radius: 20px;
   padding: 2rem;
   background-color: #F6F4ED;
   border-style: solid;
}
.intro-card h1 {
   margin: 2rem;
   font-size: 7rem;
   font-weight: 1000;
}

/*About Me*/
.aboutme {
   margin-top: 200px;
   border-style:solid;
   border-width: 5px;

   width: 100%;
   min-height: 700px;
   height: auto;
   background-color: #FFC63B;
}

.aboutme h2 {
   font-weight: 1000;
   text-align: center;
   margin: 1rem;
   color: black;
   font-size: 3rem;
}
.description {
   box-shadow: 10px 10px 0 #000;
   padding: 10px;
   background-color: #FFF8E1;
   width: 70%;
   height: auto;
   margin: 5rem auto;
   border-style: solid;
   border-radius: 10px;
}

.description p {
   font-size: 1.8rem;
   font-weight: bold;
}

/*Skills*/
.skills {
   
   justify-items: center;
   width: 100%;
   display:inline-block;
}

.skills h2 {
   font-weight: 1000;
   padding-bottom: 5%;
   padding-top: 20px;
   text-align: center;
   font-size: 3rem;
}

.icons {
   display: flex;
   gap: 80px;
}
.icons img {
   box-shadow: 14px 14px 0 #000;
   background-color: #FFC63B;
   border-style: solid;
   border-radius: 10px;
   width: 10rem;
   height: auto;
   padding: 50px;
}

/*Project*/
.projects {
   border-style: solid;
   border-width: 5px;
   background-color: #D9C6F4;
   width: 100%;
   margin-top: 5%;
}

.project-intro {
   font-weight: 1000;
   padding-bottom: 5%;
   padding-top: 20px;
   text-align: center;
   font-size: 3rem;
}

/* Individual Projects */
.project {
   box-shadow: 14px 14px 0 #000;
   background-color: #FFC63B;
   border-style: solid;
   width: min(85%);
   margin: 5% auto;
}

.project-title {
   font-weight: 1000;
   padding-top: 20px;
   text-align: center;
   font-size: 3rem;
}

.project-desc{
   box-shadow: 8px 8px 0 #000;
   background-color: #D9C6F4;
   font-weight: bold;
   font-size: 2.5rem;
   padding: 20px;
   margin: 20px;
   border-style:solid;
   border-radius: 20px;
   flex: 1;
   text-align: left;
}

.project img {
   display: block;
   box-shadow: 8px 8px 0 #000;
   background-color: #D9C6F4;
   border-style: solid;
   border-radius: 20px;
   padding: 20px;
   margin: 20px auto;


   max-width: 80%;
   width: 50%;
   height: auto;
   display: block;
}


.project .project-logo img{
   box-shadow: 2px 2px 0 #000;
   max-width: 30px;
   width: 30px;
   height: auto;
   margin: 0 auto;
}

/*Contact me form */
.contactme {
   width: 100%;
}

.contactme h2 {
   font-weight: 1000;
   padding-bottom: 5%;
   padding-top: 20px;
   text-align: center;
   font-size: 3rem;
}
.contactform {
   box-shadow: 12px 12px 0 black;
   background-color: #FFC63B;
   width: 60%;
   height: auto;
   margin: 0 auto;
   border-style: solid;
   border-radius: 30px;
   border-width: 5px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.contactform label {
   font-weight: 1000;
   color: black;
   font-size: 2rem;
   font-weight: bold;
}

.email {
   box-shadow: 2px 2px 0 black;
   border-color: #000;
   border-width: 3px;
   width: 400px;
   height: 50px;
   font-size: 20px;
}

.message {
   box-shadow: 2px 2px 0 black;
   border-color: #000;
   border-width: 3px;
   text-align: left;
   width: 400px;
   height: 200px;
   font-size: 20px;
   margin-bottom: 20px;
}

.submit-button {
   background-color: #D9C6F4;
   width: 400px;
   height: 50px;
   font-size: 2rem;
   font-weight:bold;
   margin-bottom: 20px;
}

.footer {
   width: 80%;
   margin: 0 auto;
   box-shadow: 5px 5px 0 black;
   background-color: #FFC63B;
   margin-top: 50px;
   border-style: solid;
   border-radius: 30px;
}
.footer-content {
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
}

.footer-links img {
   width: 2.5rem;
   height: auto;
}


