/*Universal settings*/
* {
   margin: 0;
   font-family: "League Spartan", sans-serif;
}

.main {
   padding-top: 9rem;
   background-color: #F6F4ED;
}



/*Navigation Bar*/
.nav {
   box-shadow: 3px 3px 0 #000;
   background-color: #FFC63B;

   width: min(1200px, 92%);
   height: auto;
   padding: 2rem;

   display: flex;
   gap: 2rem;

   align-items: center;

   border-style: solid;
   border-radius: 30px;

   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.nav a {
   flex: 1;

   color: black;
   text-decoration: none;

   font-size: clamp(1.1rem, 1.5rem, 2rem);
   font-weight: 800;
}

.nav a:hover, .nav a:focus {
   text-decoration: underline;
   color: #2F6F6D;
}

.nav img {
   margin-right: auto;
   width: min(3rem, 2.5rem);
   height: auto;
}

/*Introduction Card*/
.intro-card {
   border: 8px solid #000;
   border-radius:20px;

   box-shadow: 14px 14px 0 #000;
   background-color: #FFC63B;

   width: min(1300px, 92%);
   min-height: 700px;
   height: auto;
   padding: 2rem;

   display: flex;
   flex-direction: column;
   text-align: center;

   margin: clamp(48px, 6vw, 80px) auto;
}

.intro-card h2 {
   margin: clamp(0.5rem, 1rem, 2rem) auto clamp(0.1rem, 0,2rem, 0,3rem);

   color: black;

   font-size: clamp(1.1rem, 3.2rem, 4rem);
   font-weight: 1000;

   letter-spacing: 0.01em;
   line-height: 1.6;
}

.intro-card h3 {
   margin: clamp(0.5rem, 1rem, 2rem) auto clamp(0.1rem, 0,2rem, 0,3rem);

   color: black;

   font-size: clamp(1rem, 2.4rem, 3.8rem);
   font-weight: 1000;

   letter-spacing: 0.01em;
   line-height: 1.6;
}

.namecard {
   border: 5px solid black;
   border-radius: 20px;

   width: min(1200px, 85%);
   min-height: 300px;
   height: auto;

   margin: clamp(1rem, 2rem, 3rem) auto;
   padding: 2rem;
   background-color: #F6F4ED;
}
.intro-card h1 {
   margin: clamp(1rem, 2rem, 3rem);
   font-size: clamp(3rem, 7rem, 9rem);
   font-weight: 1000;
}

/*About Me*/
.aboutme {
   margin-top: clamp(5rem, 18rem, 25rem);
   border: 5px solid black;

   width: 100%;
   min-height: 800px;
   height: auto;

   background-color: #FFC63B;
}


.description {
   box-shadow: 10px 10px 0 #000;
   padding: 10px;
   background-color: #FFF8E1;
   width: 70%;
   height: auto;
   margin: 5rem auto;
   border-style: solid;
   border-radius: 10px;
}

.description p {
   font-size: 1.8rem;
   font-weight: bold;
}

/*Skills*/
.skills {
   
   justify-items: center;
   width: 100%;
   display:inline-block;
}

.skills h2 {
   font-weight: 1000;
   padding-bottom: 5%;
   padding-top: 20px;
   text-align: center;
   font-size: 3rem;
}

.icons {
   display: flex;
   gap: 80px;
}
.icons img {
   box-shadow: 14px 14px 0 #000;
   background-color: #FFC63B;
   border-style: solid;
   border-radius: 10px;
   width: 10rem;
   height: auto;
   padding: 50px;
}

/*Project*/
.projects {
   border-style: solid;
   border-width: 5px;
   background-color: #D9C6F4;
   width: 100%;
   margin-top: 5%;
}



/* Individual Projects */
.project {
   box-shadow: 14px 14px 0 #000;
   background-color: #FFC63B;
   border-style: solid;
   width: min(85%);
   margin: 5% auto;
}

.project-title {
   font-weight: 1000;
   padding-top: 20px;
   text-align: center;
   font-size: 3rem;
}

.project-desc{
   box-shadow: 8px 8px 0 #000;
   background-color: #D9C6F4;
   font-weight: bold;
   font-size: 2.5rem;
   padding: 20px;
   margin: 20px;
   border-style:solid;
   border-radius: 20px;
   flex: 1;
   text-align: left;
}

.project img {
   display: block;
   box-shadow: 8px 8px 0 #000;
   background-color: #D9C6F4;
   border-style: solid;
   border-radius: 20px;
   padding: 20px;
   margin: 20px auto;


   max-width: 80%;
   width: 50%;
   height: auto;
   display: block;
}


.project-logo img{
   box-shadow: 2px 2px 0 #000;
   max-width: 30px;
   width: 30px;
   height: auto;
   margin: 20px auto;
}

/*Contact me form */
.contactme {
   margin-top: 10rem;
   width: 100%;
}


.contactform {
   box-shadow: 12px 12px 0 black;
   background-color: #FFC63B;
   width: 60%;
   height: auto;
   margin: 0 auto;
   border-style: solid;
   border-radius: 30px;
   border-width: 5px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.contactform label {
   font-weight: 1000;
   color: black;
   font-size: 2rem;
   font-weight: bold;
}

.email {
   box-shadow: 2px 2px 0 black;
   border-color: #000;
   border-width: 3px;
   width: 400px;
   height: 50px;
   font-size: 20px;
}

.message {
   box-shadow: 2px 2px 0 black;
   border-color: #000;
   border-width: 3px;
   text-align: left;
   width: 400px;
   height: 200px;
   font-size: 20px;
   margin-bottom: 20px;
}

.submit-button {
   background-color: #D9C6F4;
   width: 400px;
   height: 50px;
   font-size: 2rem;
   font-weight:bold;
   margin-bottom: 20px;
}

/*Footer*/
.footer {
   width: 80%;
   box-shadow: 5px 5px 0 black;
   background-color: #FFC63B;
   border-style: solid;
   border-radius: 30px;

   margin: 5rem auto 0;
}

.footer-thank {
   width: 80%;
   box-shadow: 5px 5px 0 black;
   background-color: #FFC63B;
   border-style: solid;
   border-radius: 30px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%)
}
.footer-content {
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
}

.footer-links img {
   width: 2.5rem;
   height: auto;
}

.submit-button {
   border-color: #000;
   box-shadow: 5px 5px 0 black;
   font-family: "League Spartan";
   font-weight: bold;
   border-radius: 5px;
   border-width: 2px;
}

/* thank you page */
.return {
   display: flex;
   justify-content: center;
   margin-top: 15%;
}
.return a {
   border-radius: 20px;
   border-width: 5px;
   box-shadow: 5px 5px 0 black;
   background-color: #FFC63B;
   text-align: center;
   width: 20%;
   padding: 40px;
   border-style: solid;
   justify-items: center;
   font-size: 2rem;
   text-decoration: none;
   color: black;
   font-weight: 1000;
}

.thanks {
   border-width: 5px;
   border-style: solid;
   background-color: #FFC63B;
   width: 100%;
   padding: 30px;
}
.thanks h1 {
   margin-top: 20px;
   font-weight: 1000;
   text-align: center;
   font-size: 3rem;
}

.main-thank {
   background-color: #F6F4ED;
}

/* Section Intro */
.section-intro {
   margin-bottom: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.section-intro h2 {
   margin-top: 2rem;
   font-weight: 800;
   text-align: center;

   color: black;
   font-size: 3rem;
   line-height: 1;

}

.section-intro img {
   margin-top: 2rem;
  height: clamp(2rem, 3rem, 5rem);
  width: auto;
  display: block;
}