.globalnav:hover {
    color:orange;
}

.globalnav {
    text-align: center;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.globalnav ul {
    display: flex;
    list-style: none;
    height: 60px;
    margin: 0;
    padding: 0 24px;
    align-items: center;
}

.globalnav a {
    color: white;
    text-decoration: none;
    margin-right: 24px;
}


.headnav li {
   text-align:center;
   list-style: none;
}

.headnav a {
   color: white;
   font-size: 20px;
}

.mainmenu {
   background-color: #141E30;
   color: white;
}
#maintitle {
   font-size: 40px;
   font-weight: bold;
   text-align: center;
}

.intro, .aboutme, .skills {
   text-align:center;
   font-size: 25px;
}

.intro h2, .aboutme h2, .skills h2 {
   font-weight: bold;
   font-size:30px;
}

.aboutme figcaption {
   font-size: 15px;
   font-style: italic;
   color: orange;
}

.skills li {
   font-size: 30px;
   font-style:italic;
   
}

.contact, .contact a {
   text-align:center;
   color: orange;
   font-size: 20px;
}

.contact h2 {
   font-size:30px;
   font-weight:bold;
   color:white;
}